{% extends "base.html" %}

{% block content %}
  <h1>Tag</h1>
  <a href="{% url 'todolist:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  {% if tag_list %}
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>

      {% for tag in tag_list %}
        <tr>
          <td>
            {{ tag.name }}
          </td>
          <td>
            <a href="{% url 'todolist:tag-update' tag.name %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'todolist:tag-delete' tag.name %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
